/* Add a black background color to the search bar */
.dateSelector{
  display: flex;
  justify-content: center;
  /* align-items: center;
  text-align: center; */
}

#shotgun{
  visibility: hidden;
}

#selector{
  margin: 20px;
}

.btn{
  margin: 20px;
}

.container {
  margin-top: 1500px;
}

.calendar {
  display: grid;
  width: auto;
  height: auto;
  grid-template: repeat(34, 1fr) / repeat(17, 1fr);
}

.slot {
  text-align: center;
  background-color: green;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 2px white solid;
}

.small-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #E67E22;
}

.medium-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #01FF70;
}

.large-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #0074D9;
}

.xlarge-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #F012BE;
}

.topColumn {
  text-align: center;
  color: black;
  font-weight: bold;
  /* margin-left: 5px;
  margin-right: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  position: sticky;
  top: 0;
  background-color: white;
}
