/* Add a black background color to the search bar */
html{
    font-family: 'Montserrat', sans-serif;
}

.dateSelector{
  display: flex;
  justify-content: right;
  /* align-items: center;
  text-align: center; */
}

#shotgun{
  visibility: hidden;
  display: flex;
  justify-content: right;
  color: white;
  background-color: #1C79F0;
  border-radius: 7px;
  border: 1px #1C79F0 solid;
}

#selectorButton{
  color:#1C79F0;
  background-color: white;
  border-radius: 7px;
  border: 1px #1C79F0 solid;
}

#selector{
  margin: 20px;
}

.btn{
  margin: 20px;
}

.container {
  margin-top: 1500px;
}

.calendar {
  display: grid;
  width: auto;
  height: auto;
  grid-template: repeat(35, 1fr) / repeat(17, 1fr);
}

.slot {
  text-align: center;
  background-color: green;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 2px white solid;
}

.small-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #FFAA39;
}

.medium-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #E84631;
}

.large-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #E81AFF;
}

.xlarge-room {
  text-align: center;
  color: black;
  padding: 2px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #2B23E8;
}

.topColumn {
  text-align: center;
  color: black;
  font-weight: bold;
  /* margin-left: 5px;
  margin-right: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  position: sticky;
  top: 0;
  background-color: white;
  border-radius: 2px;
  border: 1px white solid;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 128px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.legend{
  display: grid;
  width: auto;
  height: auto;
  grid-template: repeat(1, 1fr) / repeat(8, 1fr);
}

.colBox{
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-left: 10px;
}

.leg{
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  margin-right: 20px;
}

#L0{
    background-color:  #FFAA39;
}

#L1{
    background-color:  #E84631;
}

#L2{
    background-color:  #E81AFF;
}

#L3{
    background-color:  #2B23E8;
}
